/* import */
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500&display=swap');

body {
  font-family: "Muli",sans-serif;
  color: #333;
}
a,.nav-link {
  color: #0f9d58;
  text-decoration: none;
}
a:hover,.nav-link:active,.nav-link:focus,.nav-link:hover {
  color: #0f9d58;
  text-decoration: underline;
}
h3 {
  margin: 15px 0
}
p {
  color: #333;
  margin-top: 15px;
}

.imglogo {
  width: 100px;
  height: auto
}

.title1 {
  font-size: 20px;
}
.title1 b {
  color: #fff;
  font-weight: 500;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 2px
}
.title1 span {
  border-bottom: 1.5px solid #ffd600;
}

/* Table */
thead {

  color: #fff
}

thead th {
  font-weight: 400
}

tr td:first-child {
  color: #0f9d58!important
}

tr td:first-child:hover {
  color: #333!important;
}

.t_reg td,.t_reg th {
  text-align: center
}

#link_to,.t_link td a {
  content: '';
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat
}
#link_to,.t_link td a {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z' fill='%230f9d58'/%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
}
#link_to {
  vertical-align: -5px;
}

.b_yellow {
  border-bottom: 1.5px solid #ffd600;
}

.bg_4 {
  background: #444;
}
.title1 b,thead {
  background-image: linear-gradient(to bottom right,#0f9d58,rgba(15,157,88,.85));
}

.ordernama {
  background-image: linear-gradient(to bottom right,#0f9d58,rgba(15,157,88,.85));
  color: #fff;
  border-radius: 99em;
}
.ordernama:hover {
  background-image: linear-gradient(to bottom right, rgba(15,157,88,.85),#0f9d58);
  text-decoration: none;
}

.poweredby {
  margin: 50px 0px;
}

.mb_20 {
  margin-bottom: 20px;
}
