/* Anim */
@keyframes toO0 {
  to {
    opacity: 0
  }}
@keyframes toO1 {
  to {
    opacity: 1
  }}
@keyframes dots_1 {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1)
  }}
@keyframes dots_3 {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(0)
  }}
@keyframes dots_2 {
  0% {
    transform: translate(0,0)
  }

  100% {
    transform: translate(24px,0)
  }}

/* NLoad */
#gen {
  opacity: 0;
  margin-top: 0px;
  animation: toO1 3s 3s forwards
}
.nload {
  position: fixed;
  top: 50%;
  left: calc(50% - 40px);
}
.dots_0 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  animation: toO0 3s 3s forwards
}
.dots_0 div {
  position: absolute;
  top: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0,1,1,0)
}
.dots_0 div:nth-child(1) {
  left: 8px;
  animation: dots_1 .6s infinite
}

.dots_0 div:nth-child(2) {
  left: 8px;
  animation: dots_2 .6s infinite
}

.dots_0 div:nth-child(3) {
  left: 32px;
  animation: dots_2 .6s infinite
}

.dots_0 div:nth-child(4) {
  left: 56px;
  animation: dots_3 .6s infinite
}
